*{margin: 0px;
padding: 0px;}


.banner{
    background-color: rgba(227, 13, 60, 0.1);
    
    display: flex;
    justify-content:space-around;
    
    align-items: center;
    
}
.banner-content{
   
    height: 100vh;
     align-items: center;
    margin-bottom: 20px;
margin-top: 200px;}

    .banner-small-text{  
        color: #27272799;
        font-size: large;
        margin-top: 20px;
    }


.button{
    background-color: red;
    border-radius: 5px;
    border:10px;
    color: white;
    
    gap: 10px; height: 40px ;width: 90px;
    margin-top: 20px;
}



.ban-img{height: 600px;
width: 600px;
padding-top: 50px;
margin-top: 20px;}

 .hot-deal{ 
    background-color: rgba(229, 84, 115, 0.10);;
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
height: 480px;
}

 .hot-deal-text{ text-align: center;} */


.intsa{
    margin:100px 100px 100px 100px;
    
    text-align: center;
}

.insta-text{margin-top: 20px;
    text-align: center;
}

.insta-img{
    display: flex;
    justify-content: center;
    
gap: 10px;
align-items: center;
margin-left: 50px;
margin-right: 50px;
margin-top: 30px;
 }
 .head{text-align: center;
margin-top: 30px;}


 




.flower{
    color: #E55473;
}

.footer{
    background: #111010;
    color: white;
    text-align: center;
    height: 200px;
    padding: 100px;
    


}

.footer-text{
    font-size: 14px;
    margin-top: 20px;
    
}

.footer-symbol{color: #FFFFFF66;
    font-size: 12px;
    margin-top: 20px;}

/* featured  */

.featured-flower{
    margin:100px 100px 100px 100px;
    
    text-align: center;
}

.feature-text{margin-top: 20px;
                font: 20px;}

.feature-img{
    display: flex;
    justify-content: center;
    
gap: 10px;
align-items: center;
margin-left: 50px;
margin-right: 50px;
margin-top: 0px;
 }

 .pink{
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 200px 200px 0px 0px;
 }

 .red{background-color: rgba(5, 151, 160, 0.15);
    border-radius: 200px 200px 0px 0px;

 }
 .yellow{
background-color: rgba(71, 125, 17, 0.15);
border-radius: 200px 200px 0px 0px;
 }

 .figcap{
    text-align: center;
    text-decoration-line: underline;
 }

 /* latest */


 .deal{background-image: url("./Rectangle\ 9.png");

margin-top: 30px;
margin-bottom: 30px;
margin-left:315px ;
margin-right: 315px;
align-items: center;
height: 300px; 
background-size: cover;}

.latest-form-button{
    align-items: center;
    display: flex;
    justify-content:center;
    padding-top: 70px;

}
.form{
    border: none;
background: #FFF;width: 700px;
text border:none;
height: 40px;
}

::placeholder{
    text-align: center;
    text-justify: auto;
}

.input{
    text border: 0px;
}

.writing{
    text-align: center;
    padding-top:50px;
    
}

.extra{
background-color: bisque;
margin-top: 30px;
height: 400px;


}

.extra-head{
    text-align: center;
    color: #E55473;
    padding-top: 20px;
}
.list{
    padding-left: 60px;
    font-size: 20px;
    color: brown;
    margin-top: 10px;
}

.middle{
    font-size: 25px;
    padding-left: 60px;
}

.src-eng{
    margin-top: 30px;
    display: inline;
    margin-left: 40px;
    gap: 20px;
}

.src-eng , list{
    display: flex;
}

.deliver{
    padding-top: 2px;
}

 
