*{margin: 0px;
padding: 0px;}


.banner{
    
    height: 850px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 20px;
}
.banner-content{
   
    height: 100vh;
     align-items: center;
    margin-bottom: 20px;}

    .banner-small-text{  
        color: #27272799;
        font-size: large;
        margin-top: 20px;
    }


.button{
    background-color: red;
    border-radius: 5px;
    border:10px;
    color: white;
    
    gap: 10px; height: 40px ;width: 90px;
    margin-top: 20px;
}

.banner image{
    width: 50px;
height: 50px;
}
.ban-img{height: 600px;
width: 600px;
padding-top: 50px;}

.hot-deal{
    background-color: rgba(229, 84, 115, 0.10);;
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.hot-deal-text{ text-align: center;}
.intsa{
    margin:100px 100px 100px 100px;
    
    text-align: center;
}

.insta-text{margin-top: 20px;}

.insta-img{
    display: flex;
    justify-content: center;
    
gap: 10px;
align-items: center;
margin-left: 50px;
margin-right: 50px;
margin-top: 0px;
 }


 /* .info{ */
    width: 1440px;
height: 449px;

.latest-deal{
    background-image: url("./Rectangle\ 9.png");
    align-items: center;

}
.latest-form-button{
    display: flex;
    justify-content: center;
}
.flower{
    color: #E55473;
}

.footer{
    background: #111010;
    color: white;
    text-align: center;
    height: 200px;
    padding: 100px;
    


}

.footer-text{
    font-size: 14px;
    margin-top: 20px;
    
}

.footer-symbol{color: #FFFFFF66;
    font-size: 12px;
    margin-top: 20px;}